#computer-container {
	height: 100%;
	padding: 20px;
}

img {
	width: 50%;
}

.product-image {
	width: 250px;
}

.full-w {
	width: 100%;
}

.half-w {
	width: 50%;
}

.card {
	min-height: 20vh;
}

.dropdown-item {
	cursor: pointer;
}

.hidden {
	display: none !important;
}

#bank-btn,
#work-btn {
	width: 30%;
}
